/* components/Header.module.css */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#757575;
    width: 100%;
    height: 80px; /* 縦サイズを大きくする */
  }
  
  .navUl {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navUl li {
    margin: 0 2rem; /* 横間隔を広げる */
  }
  
  .navUl a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.2s;
  }
  
  .navUl a:hover {
    color: #ccc;
  }
@media (max-width: 768px) {
    .navUl li {
      margin: 0 1rem; /* 横間隔を狭める */
    }
  }
  
  @media (max-width: 480px) {
    .navUl li {
      margin: 0 0.5rem; /* 横間隔をさらに狭める */
    }
  }
  