.markdown img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

.large-text {
    font-size: 150%;
  }
  .markdown h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 0em;
  }
  .markdown {
    line-height: 1.6; /* 行間調整*/
  }
  .articleTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .articleDate {
    font-size: 1rem;
    color: #888;
    margin-bottom: 1rem;
  }
  
  .articleCategory {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #000;
    background-color: #757575;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .markdown del {
    text-decoration: line-through;
  }

  .markdown s,
  .markdown del,
  .markdown ins,
  .markdown strike {
    text-decoration: line-through;
  }

  .markdown br {
    content: "";
    display: block;
    margin-top: 1rem;
  }
  .markdown .spacer {
    height: 1rem;
  }